@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url(https://fonts.googleapis.com/css?family=Lilita+One:regular);

.noDrag {
  -webkit-app-region: no-drag;
}

#dragBar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
html,
body {
  @apply overflow-hidden;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  margin: 0;
}

#main-page {
  scroll-behavior: smooth;
}

#root {
  height: 100%;
  width: 100%;
}

.scroller::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.scroller::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.scroller::-webkit-scrollbar-thumb {
  @apply bg-base-content;
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #; /* creates padding around scroll thumb */
}
